QUANTMAP_SERVER_BIN=D:/.store/tools/llama.cpp/build-B/bin/llama-server.exe
QUANTMAP_MODEL_PATH=D:/.store/models/MiniMax-M2.5/UD-Q3_K_XL/MiniMax-M2.5-UD-Q3_K_XL-00001-of-00004.gguf
QUANTMAP_LAB_ROOT=D:/Workspaces/QuantMap
QUANTMAP_BASE_PORT=8100
QUANTMAP_MKL_ROOT=C:/Program Files (x86)/Intel/oneAPI/mkl/latest
QUANTMAP_COMPILER_ROOT=C:/Program Files (x86)/Intel/oneAPI/compiler/latest
QUANTMAP_CUDA_PATH=C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v12.6
